{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}
<script>
$(document).ready(function() { 
   jQuery('.smarttable').dataTable(); 
});
</script>
<h1>Lista de Tópicos Cadastrados</h1>

[<a href="#nil" onclick="jQuery('#form').slideToggle();">Cadastro</a>]
{{=button('Lista Curso','../curso/list_cursos')}}
{{=button('Lista Turma','../turma/list_turmas')}}
{{=button('Lista Alocação','../alocacao/list_alocacoes')}}
<div id="form">
<h2>Novos Tópicos</h2>
{{=form}}
</div>

<br /><br />
<table class="smarttable">
<thead>
    <tr>
        <th>Tópico</th><th>Ação</th>
    </tr>    
</thead>
<tbody>
{{if topicos:}}
  {{for topico in topicos:}}
   <tr>
      <td>{{=A(topico.nome,_href=url('cad_topico',topico.id))}}</td>
      <td>{{=button('Alterar','edit_topico',topico.id)}}</td></tr>
   {{pass}}
</tbody>
</table>
}}
