{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}
<script>
$(document).ready(function() { 
   jQuery('.smarttable').dataTable(); 
});
</script>
<h1>Nova Alocação de Alunos na Turma</h1>

[<a href="#nil" onclick="jQuery('#form').slideToggle();">Cadastro</a>]
{{=button('Lista Plano de Prova','planoprova/list_planoprova')}}
{{=button('Lista Aluno','../aluno/list_alunos')}}
{{=button('Lista Turma','../turma/list_turmas')}}
<div id="form">
 <h2>Nova Alocação</h2>
 {{=form}}
</div>


</br></br>
<table border=1 class="smarttable">
<thead>
     <tr><th colspan=4>[ Alocação ]</th></tr>
    <tr>
       <th>Nome</th><th>Matrícula</th><th>Turma</th><th>Data</th><th>Ação</th>
    </tr>    
</thead>
<tbody>
   {{for alocacao in list_alocados:}}
   <tr>
      <td>{{=alocacao.alocacao.aluno.usuario.first_name + ' '+ alocacao.alocacao.aluno.usuario.last_name }}</td>
      <td>{{=alocacao.alocacao.aluno.matricula}}</td>
      <td>{{=alocacao.alocacao.turma.nome}}</td>
      <td>{{=alocacao.alocacao.data}}</td>
      <td>{{=button('Alterar','../alocacao/edit_alocacao',alocacao.alocacao.id)}}</td>
   </tr>
   {{pass}}
</tbody>
</table>
<table border=1 class="smarttable">
<thead>
     <tr><th colspan=4>[ Alunos ]</th></tr>
    <tr>
       <th>Nome</th><th>Matricula</th><th>Ação</th>
    </tr>    
</thead>
<tbody>
   {{for aluno in list_alunos:}}
   <tr>
      <td>{{=aluno.auth_user.first_name + ' '+ aluno.auth_user.last_name }}</td>
      <td>{{=aluno.aluno.matricula}}</td>
      <td>{{=button('Alterar','../aluno/edit_aluno',aluno.aluno.id)}}</td>
   </tr>
   {{pass}}
</tbody>
</table>
<table border=1 class="smarttable">
<thead>
    <tr><th colspan=4>[ TURMAS ]</th></tr>
    <tr>
       <th>Disciplina</th><th>Nome</th><th>Ações</th>
    </tr>  
</thead> 
<tbody>    
   {{for turma in list_turmas:}}
   <tr>
      <td>{{=turma.disciplina.nome}}</td>
      <td>{{=turma.turma.nome}}</td>
      <td>{{=button('Alterar','../turma/edit_turma',turma.turma.id)}}</td>
   </tr>
   {{pass}}
</tbody>
</table>
