{{extend 'layout.html'}}
<h1>Resultado de notas</h1>
<br>
<table border=1><tr><td><seq></td><td>Professor</td><td>Aplicação</td><td>Prova</td><td>Turma</td><td>Aluno</td><td>Nota</td></tr>
{{for item, reg in enumerate(notar):}}
    <tr><td>{{=item+1}})</td>
        <td>{{=reg['professor']}}</td>
        <td>{{=reg['data']}}</td>
        <td>{{=reg['prova']}}</td>
        <td>{{=reg['turma']}}</td>
        <td>{{=reg['nome']}}</td>
        <td>{{=reg['nota']}}</td></tr>
{{pass}}
</table>
<br>
<table border=1><tr><td><seq></td><td>Aluno</td><td>Taxonomia</td><td>Nota</td></tr>
{{for item, reg in enumerate(testebanco):}}
    <tr><td>{{=item+1}})</td>
        <td>{{=reg[0]+ ' ' + reg[1]}}</td>
        <td>{{=reg[2]}}</td>
        <td>{{=reg[3]}}</td></tr>
{{pass}}
<br>
</table>
<h1>Grafico de comparação de todas as notas de todos alunos de todoas as turmas</h1>
<BR>
<BR>
 <script type="text/javascript" src="/{{=request.application}}/static/js/protovis-3.1/protovis-r3.1.js">
</script>
<script type="text/javascript">

var alunos_notas;
alunos_notas={{=resposta}};

var grafico = new pv.Panel()
    .width(600)
    .height(500)
    .right(60)
    .bottom(20);

grafico.add(pv.Bar)
     .data(alunos_notas)
     .top(function(d) (this.index * 40))
     .height(25)
     .left(150)
     .width(function(d) d.start*30)
  .add(pv.Label)
      .left(5)
      .top(function(d) (this.index * 40))
      .textBaseline("top")
      .textMargin(6)
      .font("italic 12px serif")
      .text(function(d) d.name);

var linhas = grafico.add(pv.Rule)
    .data(pv.range(0, 10, .5))
    .left(function(d) d * 30 + 150)
    .strokeStyle(function(d) d ? "white" : "black");
    
var label_notas = grafico.add(pv.Label)
    .left(function() grafico.width()+80)
    .top(function() grafico.top()+ grafico.height()/2)
    .textAlign("center")
    .textBaseline("top")
    .textStyle("black");

grafico.render();

</script>
