{{extend 'layout.html'}}
<h1>Resultado do Aluno</h1>
<table border=1><tr>
                 <td>Prova</td>
                 <td>Plano&nbsp;de&nbsp;Prova</td>
                 <td>Aluno</td>
                 <td>Aplicacao</td>
                 <td>Conclusao</td>
                 <td>Nota</td>
                </tr>
                <tr>
                  <td>{{=resultado.prova}}</td>
                  <td>{{=resultado.plano}}</td>
                  <td>{{=resultado.nome}}</td>
                  <td>{{=resultado.aplicacao}}</td>
                  <td>{{=resultado.conclusao}}</td>
                  <td>{{=resultado.nota}}</td>
                </tr>
                <tr><td colspan=6>{{=resultado.minha_nota()}}</td></tr>
</table>
