{{extend 'layout.html'}}
<h1>Resultado do Aluno</h1>
<table border=1><tr>
                 <td>Prova</td>
                 <td>Plano&nbsp;de&nbsp;Prova</td>
                 <td>Aluno</td>
                 <td>Aplicacao</td>
                 <td>Conclusao</td>
                 <td>Nota</td>
                </tr>
                {{for ref in resultado:}}
                  <tr>
                  <td>{{=ref.prova}}</td>
                  <td>{{=ref.plano}}</td>
                  <td>{{=ref.nome}}</td>
                  <td>{{=ref.aplicacao}}</td>
                  <td>{{=ref.conclusao}}</td>
                  <td>{{=ref.nota}}</td>
                  </tr>
                  <tr><td colspan=6>{{=ref.minha_nota()}}</td></tr>
                {{pass}}
</table>
