<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{=T.accepted_language or 'br'}}">
<head>
    <title>{{=response.title or request.application}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}
</head>
<script>
$(document).ready(function() { 
  jQuery('.smarttable').dataTable(); 
});
</script>
        <div id="form">
        <h2>Realiza Prova</h2>
         Prova:{{=realizar_prova}}
        </div>
<table class="smarttable">
<thead>
<tr>
<th>Prova</th><th>Questao</th><th>Resposta</th>
</tr>    
</thead>
<tbody>
<tr>
    {{=row_prova}}
<tr><td>{{=button('Concluir Prova','aplicar_prova/concluir')}}</td></tr>
</tbody>
</table>
<table class="smarttable">
<tbody>
<tr>
{{for al in raluno:}} 
    <td>{{=al.usuario.first_name + ' ' + al.usuario.last_name}}</td>
{{pass}}
{{for pr in rprova:}} 
    <td>{{=pr.referencia}}</td>
{{pass}}
</tr>
</tbody>
</table>
