{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}
<script>
$(document).ready(function() { 
   jQuery('.smarttable').dataTable(); 
});
</script>
<h1>Lista Taxionomias</h1>

[<a href="#nil" onclick="jQuery('#form').slideToggle();">Cadastro</a>]
{{=button('Plano de Prova','PlanoProva')}}
<div id="form">
<h2>Nova Taxionomia</h2>
{{=form}}
</div>

<br /><br />
<table class="smarttable">
<thead>
    <tr>
       <th>Nome</th><th>Ações</th>
    </tr>    
</thead>
<tbody>
{{for taxionomia in taxionomias:}}
    <tr>
       <td>{{=A(taxionomia.nome,_href=url('cad_taxionomia',taxionomia.nome))}}</td>   
       <td>{{=button('Alterar','edit_taxionomia',taxionomia.id)}}</td>
    </tr>
{{pass}}
</tbody>
</table>
