{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}
<script>
$(document).ready(function() { 
  jQuery('.smarttable').dataTable(); 
});
</script>

{{if tabela == 'auth_user': tabela='usuario'}}
{{flayout=0}}
{{if form != '':}}
    <h1>Lista e Cadastra</h1>
    [<a href="#nil" onclick="jQuery('#form').slideToggle();">Cadastro</a>]
    <!--Link do cadastro-->
    {{if tabela == 'aluno':}}
        {{=button('Lista Usuario','cadlist/auth_user')}}
        {{=button('Lista de Alocação','cadlist/alocacao')}}
    {{pass}}
    {{if tabela == 'professor':}}
        {{=button('Lista Usuario','cadlist/auth_user')}}
        {{=button('Lista de Alocação','cadlist/alocacao')}}    
    {{pass}}
    {{if tabela == 'alocacao':}}
        {{=button('Lista Plano de Prova','cadlist/plano_de_prova')}}
        {{=button('Lista Aluno','cadlist/aluno')}}    
        {{=button('Lista Turma','cadlist/turma')}}
    {{pass}}
    {{if tabela == 'disciplina':}}
        {{=button('Lista Curso','cadlist/curso')}}
        {{=button('Lista Turma','cadlist/turma')}}
    {{pass}}
    {{if tabela == 'plano_de_prova':}}
        {{=button('Lista Alocação','cadlist/alocacao')}}
    {{pass}}
    {{if tabela == 'prova':}}
        {{=button('Lista Plano de Prova','cadlist/plano_de_prova')}}
        {{=button('Lista Professor','cadlist/professor')}}
        {{=button('Lista Turma','cadlist/turma')}}
    {{pass}}
    {{if tabela == 'topico':}}
        {{=button('Lista Curso','cadlist/curso')}}
        {{=button('Lista Turma','cadlist/turma')}}
        {{=button('Lista Alocação','cadlist/alocacao')}}
    {{pass}}
    {{if tabela == 'turma':}}
        {{=button('Lista Disciplina','cadlist/disciplina')}}
        {{=button('Lista Curso','cadlist/curso')}}
    {{pass}}
    {{if tabela == 'curso':}}
        {{=button('Lista Instituicao','cadlist/instituicao')}}
        {{=button('Lista Disciplina','cadlist/disciplina')}}
        {{=button('Lista Turma','cadlist/turma')}}
    {{pass}}
    {{if tabela == 'instituicao':}}
        {{=button('Lista Curso','cadlist/curso')}}
    {{pass}}
    {{if tabela == 'usuario':}}
        {{=button('Lista Professor','cadlist/professor')}}
        {{=button('Lista Aluno','cadlist/aluno')}}
    {{pass}}
    {{if tabela == 'dificuldade':}}
        {{=button('Lista Topico','cadlist/topico')}}
        {{=button('Lista Taxionomia','cadlist/taxionomia')}}
    {{pass}}
    {{if tabela == 'taxionomia':}}
        {{=button('Plano de Prova','cadlist/Plano_de_Prova')}}
    {{pass}}
    {{if request.args(1) != 'list':}}
        <div id="form">
        <h2>Novo Registro de {{=tabela}}</h2>
        {{=form}}
        </div>
    {{pass}}
{{else:}}
    <h2>Solicitação não encontrada</h2>
{{pass}}

<br /><br />

{{if tabela == 'usuario':}}
    {{flayout=1}}
    <table class="smarttable">
    <thead>
    <tr>
    <th>id</th><th>Nome</th><th>Email</th><th>Acao</th>
    </tr>    
    </thead>
    <tbody>
    {{for usuario in registros:}}
      <tr>
      <td>{{=A(usuario.id,_href=url('cadlist/auth_user',usuario.id))}}</td>
      <td>{{=usuario.first_name + ' ' + usuario.last_name}}</td>
      <td>{{=usuario.email}}</td>
      <td>{{=button('edit','edit/auth_user',usuario.id)}}</td>
    {{pass}}
    </tbody>
    </table>
{{pass}}

{{if tabela == 'aluno':}}
    {{flayout=1}}
    <table class="smarttable">
    <thead>
    <tr>
    <th>Matrícula</th><th>Nome</th><th>Email</th><th>Ação</th>
    </tr>    
    </thead>
    <tbody>
    {{for aluno in registros:}}
        <tr>
        <td>{{=A(aluno.aluno.matricula,_href=url('cadlist/aluno',aluno.aluno.id))}}</td>
        <td>{{=aluno.auth_user.first_name + ' ' + aluno.auth_user.last_name}}</td>
        <td>{{=aluno.auth_user.email}}</td>
        <td>{{=button('Alterar','edit/aluno',aluno.aluno.id)}}</td>
        </tr>
    {{pass}}
    </tbody>
    </table>
{{pass}}

{{if tabela == 'professor':}}
    {{flayout=1}}
    <table class="smarttable">
    <thead>
    <tr>
    <th>Cod. func.</th><th>Nome</th><th>Email</th><th>Acao</th>
    </tr>    
    </thead>
    <tbody>
    {{for professor in registros:}}
        <tr>
        <td>{{=A(professor.professor.codigo_funcional,_href=url('cadlist/professor',professor.professor.id))}}</td>
        <td>{{=professor.auth_user.first_name + ' ' + professor.auth_user.last_name}}</td>
        <td>{{=professor.auth_user.email}}</td>
        <td>{{=button('Alterar','edit/professor',professor.professor.id)}}</td>
        </tr>
    {{pass}}
    </tbody>
    </table>
{{pass}}

{{if tabela == 'alocacao':}}
    {{flayout=1}}
    <table border=1 class="smarttable">
    <thead>
    <tr><th colspan=4>[ Alocação ]</th></tr>
    <tr>
    <th>Nome</th><th>Matrícula</th><th>Turma</th><th>Data</th><th>Ação</th>
    </tr>
    </thead>
    <tbody>
    {{for alocacao in registros:}}
        <tr>
        <td>{{=alocacao.alocacao.aluno.usuario.first_name + ' ' + alocacao.alocacao.aluno.usuario.last_name}}</td>
        <td>{{=alocacao.alocacao.aluno.matricula}}</td>
        <td>{{=alocacao.alocacao.turma.nome}}</td>
        <td>{{=alocacao.alocacao.data}}</td>
        <td>{{=button('Alterar','edit/alocacao',alocacao.alocacao.id)}}</td>
        </tr>
    {{pass}}
    </tbody>
    </table>
    <table border=1 class="smarttable">
    <thead>
    <tr><th colspan=4>[ Alunos ]</th></tr>
    <tr>
    <th>Nome</th><th>Matricula</th><th>Ação</th>
    </tr>
    </thead>
    <tbody>
    {{for aluno in list_alunos:}}
        <tr>
        <td>{{=aluno.auth_user.first_name + ' ' + aluno.auth_user.last_name}}</td>
        <td>{{=aluno.aluno.matricula}}</td>
        <td>{{=button('Alterar','edit/aluno',aluno.aluno.id)}}</td>
        </tr>
    {{pass}}
    </tbody>
    </table>
    <table border=1 class="smarttable">
    <thead>
    <tr><th colspan=4>[TURMAS]</th></tr>
    <tr>
    <th>Disciplina</th><th>Nome</th><th>Ações</th>
    </tr>  
    </thead> 
    <tbody>
    {{for turma in list_turmas:}}
        <tr>
        <td>{{=turma.disciplina.nome}}</td>
        <td>{{=turma.turma.nome}}</td>
        <td>{{=button('Alterar','edit/turma',turma.turma.id)}}</td>
        </tr>
    {{pass}}
    </tbody>
    </table>
{{pass}}

{{if tabela == 'disciplina':}}
    {{flayout=1}}
    <table class="smarttable">
    <thead>
    <tr>
    <th>Disciplina</th><th>Curso</th><th>Acão</th>
    </tr>
    </thead>
    <tbody>
    {{for disciplina in registros:}}
        <tr>
        <td>{{=A(disciplina.disciplina.nome,_href=url('edit/disciplina',disciplina.disciplina.id))}}</td>
        <td>{{=A(disciplina.curso.nome,_href=url('edit/curso',disciplina.curso.id))}}</td>
        <td>{{=button('Alterar','edit/disciplina',disciplina.disciplina.id)}}</td>
        </tr>
    {{pass}}
    </tbody>
    </table>
{{pass}}


{{if tabela == 'plano_de_prova':}}
    {{flayout=1}}
    <table border=1 class="smarttable">
    <thead>
    <tr>
    <th colspan=3>[Professor]</th>
    </tr> 
    <tr>
    <th>Cod. func.</th><th>Nome</th><th>Email</th><th>Ação</th>
    </tr>
    </thead>
    <tbody>
    {{for professor in professores:}}
        <tr>
        <td>{{=A(professor.codigo_funcional,_href=url('cadlist/professor',professor.id))}}</td>
        <td>{{=professor.usuario.first_name + ' ' + professor.usuario.last_name}}</td>
        <td>{{=professor.usuario.email}}</td>
        <td>{{=button('Alterar','edit/professor',professor.id)}}</td>
        </tr>
    {{pass}}
    </tbody>
    </table>
{{pass}}

{{if tabela == 'plano_de_prova':}}
    {{flayout=1}}
    <table border=1 class="smarttable">
    <h1>Lista de itens de Planos de Prova Cadastrados</h1>
    [<a href="#nil2" onclick="jQuery('#form2').slideToggle();">Cadastro</a>]
    {{=button('Lista Alocação','cadlist/alocacao')}}
    <div id="form2">
    <h2>Novo item de Plano de Prova</h2>
    {{=form2}}
    </div>
    </table>
    <table border=1 class="smarttable">
    <thead>
    <tr>
    <th colspan=6>[Plano de Provar]</th>
    </tr> 
    <tr><th>Referência</th><th>Nome</th><th>Valor</th><th>Topico</th><th>Taxionomia</th><th>dificuldade</th><th>Ação</th></tr>
    </thead>
    <tbody>
    {{for planodeprova in registros:}}
        <tr>
        <td>{{=A(planodeprova.plano_de_prova.referencia,_href=url('cadlist/plano_de_prova',planodeprova.plano_de_prova.id))}}</td>
        <td>{{=planodeprova.plano_de_prova.professor.usuario.first_name + ' ' + planodeprova.plano_de_prova.professor.usuario.last_name}}</td>
        <td>{{=planodeprova.item_plano_de_prova.valor}}</td>
        <td>{{=planodeprova.item_plano_de_prova.topico}}</td>
        <td>{{=planodeprova.item_plano_de_prova.taxionomia}}</td>
        <td>{{=planodeprova.item_plano_de_prova.dificuldade}}</td>
        <td>{{=button('Alterar','edit/plano_de_prova',planodeprova.plano_de_prova.id)}}</td>
        </tr>
    {{pass}}
    </tbody>
    </table>
{{pass}}

{{if tabela == 'prova':}}
    {{flayout=1}}
    <table border=1 class="smarttable">
    <thead>
    <tr><th colspan=4>[ Prova ]</th></tr>
    <tr>
    <th>Referência</th><th>Turma</th><th>Plano de Prova</th><th>Tipo</th><th>Ação</th>
    </tr>
    </thead>
    <tbody>
    {{for prova in registros:}}
        <tr>
        <td>{{=prova.referencia }}</td>
        <td>{{=prova.turma.nome}}</td>
        <td>{{=prova.plano_de_prova.referencia}}</td>
        <td>{{=prova.tipo}}</td>
        <td>{{=button('Alterar','edit/prova',prova.id)}}</td>
        </tr>
    {{pass}}
    </tbody>
    </table>
    <table border=1 class="smarttable">
    <thead>
    <tr><th colspan=2>[ TURMA ]</th></tr>
    <tr>
    <th>Turma</th><th>Ação</th>
    </tr>
    </thead>
    <tbody>
    {{for turma in turmas:}}
        <tr>
        <td>{{=A(turma.nome,_href=url('cadlist/turma',turma.id))}}</td>
        <td>{{=button('Alterar','edit/turma',turma.id)}}</td>
        </tr>
    {{pass}}
    </tbody>
    </table>
{{pass}}

{{if tabela == 'turma':}}
    {{flayout=1}}
    <table class="smarttable">
    <thead>
    <tr>
    <th>Turma</th><th>Turno</th><th>Disciplina</th><th>Ação</th>
    </tr>    
    </thead>
    <tbody>
    {{for turma in registros:}}
      <tr>
      <td>{{=A(turma.turma.nome,_href=url('cadlist/turma',turma.turma.id))}}</td>
      <td>{{=turma.turma.turno}}</td>
      <td>{{=A(turma.disciplina.nome,_href=url('cadlist/disciplina',turma.disciplina.id))}}</td>
      <td>{{=button('Alterar','edit/turma',turma.turma.id)}}</td></tr>
   {{pass}}
   </tbody>
   </table>
{{pass}}

{{if tabela == 'instituicao':}}
    {{flayout=1}}
    <table class="smarttable">
    <thead>
    <tr>
    <th>Nome</th><th>Ações</th>
    </tr>    
    </thead>
    <tbody>
    {{for instituicao in registros:}}
      <tr>
      <td>{{=A(instituicao.nome,_href=url('cadlist/instituicao',instituicao.id))}}</td>
      <td>{{=button('Alterar','edit/instituicao',instituicao.id)}}</td>
      </tr>
    {{pass}}
    </tbody>
    </table>
{{pass}}

{{if tabela == 'curso':}}
    {{flayout=1}}
    <table class="smarttable">
    <thead>
    <tr>
    <th>Curso</th><th>Instituicão</th><th>Ação</th>
    </tr>    
    </thead>
    <tbody>
    {{for curso in registros:}}
      <tr>
      <td>{{=A(curso.nome,_href=url('edit/curso',curso.id))}}</td>
      <td>{{=A(curso.instituicao.nome,_href=url('edit/instituicao',curso.instituicao.id))}}</td>
      <td>{{=button('Alterar','edit/curso',curso.id)}}</td>
    {{pass}}
    </tbody>
    </table>
{{pass}}


{{if tabela == 'dificuldade':}}
    {{flayout=1}}
    <table class="smarttable">
    <thead>
    <tr>
    <th>Nível de Dificuldade</th><th>Acao</th>
    </tr>    
    </thead>
    <tbody>
    {{for dificuldade in registros:}}
      <tr>
      <td>{{=A(dificuldade.nivel,_href=url('cadlist/curso',dificuldade.id))}}</td>
      <td>{{=button('Alterar','edit/dificuldade',dificuldade.id)}}</td></tr>
   {{pass}}
   
</tbody>
</table>
{{pass}}

{{if tabela == 'topico':}}
   {{flayout=1}}
   <table class="smarttable">
   <thead>
   <tr>
   <th>Tópico</th><th>Ação</th>
   </tr>    
   </thead>
   <tbody>
   {{for topico in registros:}}
      <tr>
      <td>{{=A(topico.nome,_href=url('cadlist/topico',topico.id))}}</td>
      <td>{{=button('Alterar','edit/topico',topico.id)}}</td></tr>
   {{pass}}
</tbody>
</table>
{{pass}}

{{if tabela == 'taxionomia':}}
   {{flayout=1}}
   <table class="smarttable">
   <thead>
   <tr>
   <th>Nome</th><th>Ações</th>
   </tr>    
   </thead>
   <tbody>
   {{for taxionomia in registros:}}
      <tr>
      <td>{{=A(taxionomia.nome,_href=url('cadlist/taxionomia',taxionomia.nome))}}</td>   
      <td>{{=button('Alterar','edit/taxionomia',taxionomia.id)}}</td>
      </tr>
   {{pass}}
   </tbody>
   </table>
{{pass}}

{{if flayout == 0:}}
    <table class="smarttable">
    <tbody>
    {{=registros}}
    </tbody>
    </table>
{{pass}}
