<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{=T.accepted_language or 'br'}}">
<head>
    <title>{{=response.title or request.application}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
{{response.files.append(URL(r=request,c='static',f='js/ckeditor/ckeditor.js'))}}
{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}
</head>
<script>
$(document).ready(function() { 
  jQuery('.smarttable').dataTable(); 
});
</script>
{{if tabela == 'auth_user': tabela='usuario'}}
    <h1>Resposta da quest&atilde;o</h1>
    <table border=0 class="smarttable">
    <tbody><tr>
       <th><b>Quest&atilde;o:</b></th></tr>
    {{for q in questao:}}
    <tr>
       <td><textarea rows="6" cols="80">{{=q.id}})&nbsp;{{=q.enunciado}}</textarea></td>
    </tr>
    {{pass}}
    <tr>
    <th><b>Respostas Possiveis:</b><th></tr>
    {{for item, r in enumerate(respostas):}}
    <tr>
    <td>{{=item + 1}})&nbsp;{{=r.resposta}}</td>
    <tr>
    {{pass}}
    <tr><td>{{=form}}</td></tr>
    </tbody>
    {{=button('Voltar para as questoes' ,'../respondeprova/responder_prova')}}
    </table>
