<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{=T.accepted_language or 'br'}}">
<head>
    <title>{{=response.title or request.application}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
{{response.files.append(URL(r=request,c='static',f='js/ckeditor/ckeditor.js'))}}
{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}
</head>
<script>
$(document).ready(function() { 
  jQuery('.smarttable').dataTable(); 
});
[<a href="#nil" onclick="jQuery('#form').slideToggle();">Prova</a>]
</script>
    <div id="form">
    <h2>Realiza Prova</h2>
        {{=realizar_prova}}
    </div>
{{if tabela == 'prova':}}
    <table class="smarttable">
    <thead>
    <tr>
    <th>Prova</th><th>Plano</th><th>Questao</th><th>Resposta</th>
    </tr>    
    </thead>
    <tbody>
    {{for prova in row_prova:}}
        <tr>
        <td>{{=prova.prova_gerada.prova.referencia}}</td>
        <td>{{=prova.prova_gerada.prova.plano_de_prova.referencia}}</td>
        <td>
        {{enunciado1=''}}
        {{enunciado2=''}}
        {{i=0}}
        {{n=0}}
        {{n=len(str(prova.questao.id) + ') ' + prova.questao.enunciado)}}
        {{enunciado1 = str(str(prova.questao.id) + ') ' + prova.questao.enunciado)}}
        {{if n >= 80:}}
             {{while (i <= 80):}}
                {{enunciado2 = enunciado2 + enunciado1[i]}}
                {{i = i + 1}}
             {{pass}}
             {{=A(enunciado2 + ' ...',_href=url('editprovagerada/item_prova_gerada/' + str(prova.questao),prova.id))}}
        {{else:}}
             {{=A(str(prova.questao.id) + ') ' + prova.questao.enunciado,_href=url('editprovagerada/item_prova_gerada/' + str(prova.questao),prova.id))}}
        {{pass}}
        </td>
        {{if prova.alternativa_escolhida:}}
            <td><textarea rows="4" cols="40">{{=prova.alternativa_escolhida.resposta}}</textarea></td>
        {{else:}}
            <td><b><font size="3" color="red">Falta Responder</b></font></td>
        {{pass}}
        </tr>
    {{pass}}
    </tbody>
    </table><table>
        <tr>
            <td colspan=4 >{{=button('Finalizar Prova "Concluir"','concluir',prova.prova_gerada)}}</center></td>
        </tr>
    </table>
{{pass}}
